.circle01{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
    margin-left: 800px;
    border-radius: 50%;
    background-color: rgb(150, 245, 150,0.39);
}
.circle02{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:150px;
    margin-left: 800px;
    border-radius: 50%;
    background-color: rgba(224, 119, 119, 0.39);
}
.circle03{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:-750px;
    margin-left: 315px;
    border-radius: 50%;
    background-color: rgba(224, 119, 184, 0.39);
}
.circle04{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:150px;
    margin-left: 307px;
    border-radius: 50%;
    background-color: rgba(119, 119, 224, 0.39);
}
.circle05{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:-186px;
    margin-left: 550px;
    border-radius: 50%;
    background-color: rgba(208, 224, 119, 0.39);
}
.circle06{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:-637px;
    margin-left: 190px;
    border-radius: 50%;
    background-color: rgba(82, 41, 151, 0.39);

}
.circle07{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:-300px;
    margin-left: 923px;
    border-radius: 50%;
    background-color: rgba(126, 5, 80, 0.39);

}
.circle08{
    width: 208px;
    height: 200px;
    padding: 50px;
    margin-top:-632px;
    margin-left: 555px;
    border-radius: 50%;
    background-color: rgba(33, 8, 227, 0.39);

}